{% extends 'base.html' %}

{% block content %}

<a href="{% url 'index' %}">Home</a>
<a href="{% url 'goals_index' child_id %}">See all goals</a>

<h1 class="goal details">{{ goal.title }}</h1>


<h5 class="goal details">Description: </h5>
<h6>{{ goal.description }}</h6>
<h5 class="goal details">Status: </h5>
<h6>{{ goal.get_goal_tracker_display }}</h6>


<h5 class="goal details">Deadline:</h5>
<h6>{{ goal.deadline }}</h6>

{% if user.profile.is_parent == True %}
<a href="{% url 'goal_edit' child_id goal.id %}"><button>Edit Goal Info</button></a>
{% endif %}


{% endblock %}