{% extends 'extended-base.html' %}

{% block child %}

<div class="page-content child-info flex-cntr">

    <div class="go-back">
        <a href="{% url 'goal_detail' child_id goal.id %}">Back</a>
    </div>
    
    <h1 class="center-text">Edit Goal</h1>
    
    <div class="section-area main-content">
        <form action="{% url 'goal_edit' child_id goal.id %}" method="post" class="form">
            {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
            {% csrf_token %}
            <div class="input-field col s12">
                <input type="text" name="title" class="form-goals" value="{{goal.title}}">
                <label for="title">Title:</label>
            </div>
            <div class="input-field col s12">
                <input type="text" name="description" class="form-goals" value="{{goal.description}}">
                <label for="description">Description:</label>
            </div>
            <div class="input-field col s12">
                <select name="goal_tracker" class="form-goals" >
                    <option value="{{goal.goal_tracker}}" selected>
                        {{ goal.get_goal_tracker_display }}
                    </option>
                    {% for choice in goal_tracker %}
                    {% if choice.1 != goal.get_goal_tracker_display%}
                    <option value="{{choice.0}}">{{choice.1}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="goal_tracker">Status:</label>
            </div>
            <div class="input-field col s12">
                <label for="deadline">Requested to be completed by:</label>
                <input type="date" name="deadline" class="form-goals" value={{ goal.deadline|date:'Y-m-d' }}>
            </div>
            <input type="submit" value="Submit" class="child-info-btn">
        </form>
    </div>

</div>


<script>
$(document).ready(function(){
    $('select').formSelect();
});
</script>
{% endblock %}