{% extends 'extended-base.html' %}

{% block child %}


<div class="page-content child-info flex-cntr">

    <div class="go-back">
        <a href="{% url 'child_detail' child.id %}">Back</a>
    </div>

    <div class="section-area">

        <h1 class="display-4 title center-text">Add Parents to {{child.first_name}}</h1>
        
        <div class="row">
            <form action="{% url 'add_parent' child.id %}" method="post" class="col s12">
                {% if error_messsage %}<p class="red-text">{{ error_message }}</p>{% endif %}
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        <label for="coparents">Enter email addresses of co-parents:</label>
                        <input type="text" name="coparents" id="coparents" class="validate">
                    </div>
                </div>
                <input type="submit" value="Submit" class="child-info-btn">
            </form>
        </div>

    </div>

</div>

<script>
     $(document).ready(function() {
    M.updateTextFields();
  });
</script>


{% endblock %}