{% extends 'base.html' %}

{% block content %}

<a href="{% url 'index' %}">Home</a>

<h1 class="display-4 title center-text">{{ child.first_name}} {{child.last_name}}</h1>
{% if child.picture %}
<img class="image class" src="{{picture.url}}" >
{% endif %}
<div>
{% for picture in child.picture_set.all %}
    <img src="{{ picture.url }}" alt="{{ picture.child.first_name }}">
{% empty %}  
    <div>No Photos Uploaded</div>
{% endfor %}

<form action="{% url 'add_picture' child.id %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <input type="file" name="picture-file">
    <br><br>
    <input type="submit" value="Upload Photo" class="btn">
</form>
<br><br>
</div>

<h4 class="display-4 title center-text">Date of Birth: &nbsp; {{ child.date_of_birth}}</h4>
<h4 class="display-4 title center-text">Age: &nbsp; {{ child.age}}</h4>


<h4 class="display-4 title center-text">Notes:</h4>
<p class="display-4 title center-text">{{ child.notes}}</p>


<a href="{% url 'add_parent' child.id %}"><button>Add Parent</button></a>
<a href="{% url 'add_professional' child.id %}"><button>Add Professionals who work with your child</button></a>
<a href="{% url 'goals_index' child.id %}"><button>See all goals</button></a>
<a href="{% url 'add_goal' child.id %}"><button>Add a goal</button></a>
{% if user.profile.is_parent == True %}
<a href="{% url 'child_edit' child.id %}"><button>Edit Child Info</button></a>
{% endif %}

{% for report_card in child.report_card_set.all %}
    <p>{{report_card.title}} {{report_card.get_grade_display}}</p>
{% endfor %}

<a href="{% url 'report_card' child.id %}"><button>Report Card</button></a>


{% endblock %}