{% extends 'extended-base.html' %}

{% block child %}

<div class="page-content child-info flex-cntr">

    <div class="go-back">
        <a href="{% url 'child_summary' child.id %}">Back</a>
    </div>

    <h1 class="child-info-name">{{ child.first_name}} {{child.last_name}}</h1>

    <div class="details-picture">
        {% for picture in child.picture_set.all %}
            <img  src="{{ picture.url }}" alt="{{ picture.child.first_name }}">
            <form action="{% url 'change_picture' picture.id child.id %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                    <div class="no-photo flex-cntr">
                        <div class="flex-cntr btn-container">
                            <input class="child-info-btn btn-pic-container" type="submit" value="Change Photo">
                        </div>
                    </div>
            </form>
        {% empty %}  
        <form action="{% url 'add_picture' child.id %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
                    <div class="no-photo flex-cntr">
                        <input type="file" name="picture-file" class="file-btn">
                        <div class="flex-cntr btn-container">
                            <input class="child-info-btn" type="submit" value="Upload Photo">
                        </div>
                    </div>
                </form>
        {% endfor %}  
    </div>
    
    <div class="child-info-section">

        <h4 class="display-4 title center-text">Date of Birth:&nbsp; {{ child.date_of_birth}}</h4>
        {% if child.age > 0 %}
            <h4 class="display-4 title center-text">Age:&nbsp; {{ child.age}}</h4>
        {% endif %}
        
        {% if child.notes %}
            <p class="child-info-notes"><span>Notes:</span> {{ child.notes}}</p>
        {% endif %}

        {% if user.profile.is_parent == True %}
        <div class="flex-cntr btn-container">
            <a href="{% url 'child_edit' child.id %}"><button class="child-info-btn">Edit Child Info</button></a>
        </div>
        {% endif %}
        
        {% if other_parents|length > 0 %}
            <div class="child-info-parents">
                <div class="child-info-parents-left">
                    <p class="child-info-parents-title">PARENTS:</p>
                    <div class="child-info-parent-names">
                        {% for parent in other_parents %}
                            {% if parent.first_name %}
                                <p>{{parent.first_name}} {{parent.last_name}}</p>
                            {% else %}
                                <p>{{parent.user}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="flex-cntr child-info-parents-right">
                    <a href="{% url 'add_parent' child.id %}"><button class="child-info-btn">Add Parent</button></a>
                </div>
            </div>
        {% else %}
            <div class="flex-cntr btn-container">
                <a href="{% url 'add_parent' child.id %}"><button class="child-info-btn">Add Parent</button></a>
            </div>
        {% endif %}

        {% if professionals|length > 0 %}
            <div class="child-info-parents">
                <div class="child-info-parents-left">
                    <p class="child-info-parents-title">PROFESSIONALS:</p>
                    <div class="child-info-parent-names">
                        {% for professional in professionals %}
                            {% if professional.first_name %}
                                <p>{{professional.first_name}} {{professional.last_name}}</p>
                            {% else %}
                                <p>{{professional.user}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="flex-cntr child-info-parents-right">
                    <a href="{% url 'add_professional' child.id %}"><button class="child-info-btn">Add Professional</button></a>
                </div>
            </div>
        {% else %}
            <div class="flex-cntr btn-container">
                <a href="{% url 'add_professional' child.id %}"><button class="child-info-btn">Add Professional</button></a>
            </div>
        {% endif %}


        {% if user.profile.is_parent == True %}
            <div class="flex-cntr btn-container">
                <a href="{% url 'delete_child' child.id %}"><button class="child-info-btn" style="color:red">DELETE CHILD PROFILE</button></a>
            </div>
        {% endif %}

    </div>
</div>

{% endblock %}