{% extends 'base.html' %}

{% block content %}

<a href="{% url 'index' %}">Home</a>

<h1 class="display-4 title center-text">{{ child.first_name}} {{child.last_name}}</h1>
{% if child.picture %}
<img class="image class" src="{{picture.url}}" >
{% endif %}

<h3 class="display-4 title center-text">Date of Birth: &nbsp; {{ child.date_of_birth}}</h3>

<h3 class="display-4 title center-text">Notes:</h3>
<p class="display-4 title center-text">{{ child.notes}}</p>


<a href="{% url 'add_parent' child.id %}"><button>Add Parent</button></a>
<a href="{% url 'add_professional' child.id %}"><button>Add Professionals who work with your child</button></a>
{% if user.profile.is_parent == True %}
<a href="{% url 'child_edit' child.id %}"> Edit Child Info </a>
{% endif %}


{% endblock %}