{% extends 'extended-base.html' %}

{% block child %}

<div class="page-content child-info flex-cntr">

    <div class="go-back">
        <a href="{% url 'child_detail' child.id %}">Back</a>
    </div>

    <div class="section-area">
        <h1 class="child-info-name"> Edit {{ child.first_name}} {{child.last_name}}'s details:</h1>
        
        <form action="{% url 'child_edit' child.id %}" method="post" class="form">
            {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" class="form-control" value={{child.first_name}}>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" class="form-control" value={{child.last_name}}>
            </div>
            <div class="form-group">
                <label for="date_of_birth">Date of birth:</label>
                <input type="date" name="date_of_birth" class="form-control" value={{ child.date_of_birth|date:'Y-m-d' }}>
            </div>
            <div class="form-group">
                <label for="notes">Notes about {{child.first_name}}:</label>
                <input type="text" name="notes" class="form-control" value="{{child.notes}}">
            </div>
            <input type="submit" value="Submit" class="btn btn-success">
        </form>
    </div>


</div>


{% endblock %}