{% extends 'extended-base.html' %}

{% block child %}

<div class="page-content child-info flex-cntr">

  <div class="go-back">
    <a href="{% url 'report_card' child.id %}">Back</a>
  </div>

  <div class="section-area">

    <h1 class="display-4 title center-text">Edit {{child.first_name}}'s Report Card</h1>
    
    <form action="{% url 'edit_report_card' child.id report_card.id %}" method="post" class="form">
        {% if error_messsage %}<p class="red-text">{{ error_message }}</p>{% endif %}
        {% csrf_token %}
    
        <div class="row">
            <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="subject" name="subject" type="text" class="validate" value="{{report_card.subject}}">
                    <label for="subject">Subject</label>
                  </div>
                </div>
              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="Midterm, essay, etc." value="{{report_card.title}}" id="title" name="title" type="text" class="validate">
                  <label for="title">Title</label>
                </div>
                <div class="input-field col s6">
                    <select name="grade">
                    {% for grade in grades %}
                        {% if grade.0 < report_card.grade %}
                            <option value="{{grade.0}}">{{grade.1}}</option>
                        {% endif %}
                    {% endfor %}
                    <option value="{{report_card.grade}}" selected>{{report_card.get_grade_display}}</option>
                    {% for grade in grades %}
                        {% if grade.0 > report_card.grade %}
                            <option value="{{grade.0}}">{{grade.1}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                    <label>Grade</label>
                  </div>
              </div>
                <div class="row">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="notes" name="notes" class="materialize-textarea">{{report_card.notes}}</textarea>
                            <label for="notes">Notes</label>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="child-info-btn">
            </form>
        </div>
  </div>
  
</div>


  <script>
  $(document).ready(function(){
    $('select').formSelect();
  });
  </script>

{% endblock %}
