{% extends 'base.html' %}

{% block content %}


<nav class="nav grey lighten-5">
    <p>APParent</p>
    <a class="nav-link" href="{% url 'profile' %}">My profile</a>
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
</nav>


<div class="children-index">
    {% for child in user.profile.child.all %}
    <a href="{% url 'child_summary' child.id %}">
        <div 
        {% if child.picture_set.all.count %}
            style="background: url({{ child.picture_set.all.0.url }}); 
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat"
            class="child-picker picker-photo"
        {% else %}
            class="child-picker" 
        {% endif %}>
                {% if child.picture_set.all.count %}
                {% else %}
                    <p>{{child.first_name.0}}{{child.last_name.0}}</p>
                {% endif %}
            </div>
            <p>{{child.first_name}} {{child.last_name}}</p>
            {% if child.profile_set.all.count > 1 %}
                <div class="num-teammates">
                    <i class="material-icons">person</i>
                    <p>{{child.profile_set.all.count|add:"-1"}}</p>
                </div>
            {% endif %}
        </a>
    {% empty %}
        <p>No children</p>
        {% if user.profile.is_parent == False %}
        <p>You need a parent to add you to a child. Please reach out to the child's parent.</p>
        {% endif %}
        {% endfor %}
    
    {% if user.profile.is_parent %}

    <a href="{% url 'add_child' %}">
        <div class="child-picker new-picker">
            <p>+</p>
        </div>
        <p>Register a Child</p>
    </a>
    {% endif %}
</div>

{% endblock %}