{% extends 'base.html' %}

{% block content %}

<div class="summary-nav">
    <a class="summary-home" href="{% url 'index' %}"> HOME</a>
    <div>
        <a href="{% url 'daily_reports_index' child.id %}"><button>Daily Reports</button></a>
        <a href="{% url 'goals_index' child.id %}"><button>Goal Tracker</button></a>
        <a href="{% url 'report_card' child.id %}"><button>Report Card</button></a>
        <a href="{% url 'meetings' child.id %}"><button>Meetings</button></a>
    </div>
</div>

<div class="summary">

  <div class="summary-cards">

    {% for daily_report in recent_daily_reports %}
          <div class="row summary-piece">
              <div class="col s12">
                <div class="card">
                  <div class="card-content black-text child-card">
                      <a class="edit" href="{% url 'daily_report_edit' child.id goal.id %}">Edit</a>
                      <span class="card-title">{{daily_report.title}}</span>                
                  </div>
                </div>
              </div>
            </div>
            {% if daily_report.daily_report_rating == "1" %}
              <tr class="urgent" style= 'background-color: red;'>
                <td><a href="{% url 'daily_report_detail' child.id daily_report.id %}">{{daily_report.title}}</a></td>
              </tr>
            {% elif daily_report.daily_report_rating == "2"  %}
              <tr class="warning" style= 'background-color: yellow;'>
                <td><a href="{% url 'daily_report_detail' child.id daily_report.id %}">{{daily_report.title}}</a></td>
              </tr>
            {% else %}
              <tr class="cool" style= 'background-color: green;'>
                <td><a href="{% url 'daily_report_detail' child.id daily_report.id %}">{{daily_report.title}}</a></td>
              </tr>
            {% endif %}
    {% endfor %}
      
    {% for goal in recent_goals %}
            <div class="row summary-piece">
                <div class="col s12">
                  <div class="card">
                    <div class="card-content black-text child-card">
                        <a class="edit" href="{% url 'goal_edit' child.id goal.id %}">Edit</a>
                      <span class="card-title">{{goal.title}}</span>
                      <p>{{goal.days_left}} days left <span class="summary_days_left">{{goal.get_goal_tracker_display}}</span></p>
                      
                    </div>
                  </div>
              </div>
            </div>
    {% endfor %}
          
    {% for report_card in recent_report_cards %}
        <div class="row summary-piece">
            <div class="col s12">
              <div class="card">
                <div class="card-content black-text child-card">
                  {% if report_card.created_by.id == current_user.id %}
                    <a class="edit" href="{% url 'edit_report_card' child.id report_card.id %}">Edit</a>
                  {% endif %}
                  <span class="grade">{{report_card.get_grade_display}}</span>
                  <p class="report_card_subject">{{report_card.subject}} {{report_card.title}}</p>
                  <p>Submitted by {{report_card.created_by.first_name}} {{report_card.created_by.last_name}}</p>
                  <p>Notes: {{report_card.notes}}</p>
                </div>
              </div>
            </div>
          </div>
    {% endfor %}

  </div>
  
      

    <div class="summary-child">
        <h3 class="display-4 title center-text">{{ child.first_name}} {{child.last_name}}</h3>
        {% for picture in child.picture_set.all %}
        <div class="summary-pic-container">
            <img class="summary-pic" src="{{ picture.url }}" alt="{{ picture.child.first_name }}">
        </div>
        {% endfor %}
        <a href="{% url 'child_detail' child.id %}"><button>See {{ child.first_name}}'s Info</button></a>
    </div>

</div>



{% endblock %}