{% extends 'extended-base.html' %}

{% block child %}

<div class="summary">

  <div class="summary-cards">

    {% for meeting in new_meetings %}
    <div class="row summary-piece">
        <div class="col s12">
            <div class="card">
                <div class="card-content black-text child-card">
                        <p class="card-title">{{meeting.date}}</p>
                        <span class="card-title">{{meeting.title}}</span>
                        {% if meeting.created_by.first_name %}
                            <p>Requested by {{ meeting.created_by.first_name }}</p>
                        {% else %}
                            <p>Requested by {{ meeting.created_by }}</p>
                        {% endif %}
                        <a href="{% url 'accept_meeting' child.id meeting.id %}">Accept</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    {% for meeting in accepted_meetings %}
    <div class="row summary-piece">
        <div class="col s12">
            <div class="card">
                <div class="card-content black-text child-card">
                    <p class="card-title">{{meeting.date}}</p>
                    <span class="card-title">{{meeting.title}}</span>
                        {% if meeting.invitee == current_user %}
                            {% if meeting.created_by.first_name %}
                                <p>With {{ meeting.created_by.first_name }}</p>
                            {% else %}
                                <p>With {{ meeting.created_by }}</p>
                            {% endif %}
                        {% else %}
                            {% if meeting.invitee.first_name %}
                                <p>With {{ meeting.invitee.first_name }}</p>
                            {% else %}
                                <p>With {{ meeting.invitee }}</p>
                            {% endif %}
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for daily_report in recent_daily_reports %}
          <div class="row summary-piece">
              <div class="col s12">
                <div class="card">
                  <div class="card-content black-text child-card">
                      <a class="edit" href="{% url 'daily_report_edit' child.id daily_report.id %}">Edit</a>
                      <span class="card-title">Daily Report</span>
                      <p>{{daily_report.created_at}}</p>
                      <p>{{daily_report.title}}</p>                
                      <p>{{daily_report.notes}}</p>                
                      <p>{{daily_report.get_rating_display}}</p>                
                  </div>
                </div>
              </div>
            </div>
    {% endfor %}
      
    {% for goal in recent_goals %}
            <div class="row summary-piece">
                <div class="col s12">
                  <div class="card">
                    <div class="card-content black-text child-card">
                        <a class="edit" href="{% url 'goal_edit' child.id goal.id %}">Edit</a>
                      <span class="card-title">{{goal.title}}</span>
                      {% if goal.days_left >= 0 %}
                        <p>{{goal.days_left}} days left <span class="summary_days_left">{{goal.get_goal_tracker_display}}</span></p>
                      {% else %}
                        {% if goal.get_goal_tracker_display != "Completed" %}
                          <p>Deadline Passed <span class="summary_days_left">Not Completed</span></p>
                        {% else %}
                          <p>Deadline Passed <span class="summary_days_left">{{goal.get_goal_tracker_display}}</span></p>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
              </div>
            </div>
    {% endfor %}
          
    {% for report_card in recent_report_cards %}
        <div class="row summary-piece">
            <div class="col s12">
              <div class="card">
                <div class="card-content black-text child-card">
                  {% if report_card.created_by.id == current_user.id %}
                    <a class="edit" href="{% url 'edit_report_card' child.id report_card.id %}">Edit</a>
                  {% endif %}
                  <span class="grade">{{report_card.get_grade_display}}</span>
                  <p class="report_card_subject">{{report_card.subject}} {{report_card.title}}</p>
                  <p>Submitted by {{report_card.created_by.first_name}} {{report_card.created_by.last_name}}</p>
                  <p>Notes: {{report_card.notes}}</p>
                </div>
              </div>
            </div>
          </div>
    {% endfor %}

  </div>
  
      

    <div class="summary-child">
        <h3 class="display-4 title center-text">{{ child.first_name}} {{child.last_name}}</h3>
        {% for picture in child.picture_set.all %}
        <div class="summary-pic-container">
            <img class="summary-pic" src="{{ picture.url }}" alt="{{ picture.child.first_name }}">
        </div>
        {% endfor %}
        <a href="{% url 'child_detail' child.id %}"><button>See {{ child.first_name}}'s Info</button></a>
    </div>

</div>



{% endblock %}