{% extends 'base.html' %}

{% block content %}

<a href="{% url 'index' %}">Home</a>

<div class="summary-nav">
    <a href="{% url 'report_card' child.id %}"><button>Daily Reports</button></a>
    <a href="{% url 'report_card' child.id %}"><button>Goal Tracker</button></a>
    <a href="{% url 'report_card' child.id %}"><button>Report Card</button></a>
    <a href="{% url 'report_card' child.id %}"><button>Meetings</button></a>
</div>

<div class="summary">
    <div class="summary-child">
        <h1 class="display-4 title center-text">{{ child.first_name}} {{child.last_name}}</h1>
        <div>
        {% for picture in child.picture_set.all %}
            <img class="summary-pic" src="{{ picture.url }}" alt="{{ picture.child.first_name }}">
        {% endfor %}
        <a href="{% url 'child_detail' child.id %}"><button class="btn">See {{ child.first_name}}'s Info</button></a>
    </div>
    
    <a href="{% url 'goals_index' child.id %}"><button class="btn">See all goals</button></a>
    
    {% for report_card in child.report_card_set.all %}
        <p class="summary-test">{{report_card.title}} {{report_card.get_grade_display}}</p>
    {% endfor %}
    
    <a href="{% url 'report_card' child.id %}"><button class="btn">Report Card</button></a>

</div>



{% endblock %}