{% extends 'base.html' %}

{% block content %}

<a href="{% url 'profile' %}">Back</a>

<h1 class="goals">Add Availability</h1>

<form action="{% url 'set_availability' %}" method="post" class="form">
    {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
    {% csrf_token %}
    <div class="row">
        <form class="col s12">
            <div class="row">
            <div class="input-field col s6">
                <select name="weekday">
                    <option value="" disabled selected>Weekday</option>
                    <option value="0">Monday</option>
                    <option value="1">Tuesday</option>
                    <option value="2">Wednesday</option>
                    <option value="3">Thursday</option>
                    <option value="4">Friday</option>
                    <option value="5">Saturday</option>
                    <option value="6">Sunday</option>
                </select>
              </div>
          </div>
          <div class="input-field col s3">
            <select name="start_time">
                <option value="" disabled selected>Start Time</option>
                {% for possible_time in possible_times %}
                    {% if possible_time.0 > 0 and possible_time.0 < 12 %}
                        <option value="{{ possible_time }}">{{possible_time.0}}:{% if possible_time.1 == 0 %}00{% else %}{{possible_time.1}}{% endif %}AM</option>
                    {% else %}
                        {% if possible_time.0 == 0 %}
                            <option value="{{ possible_time }}">12:{% if possible_time.1 == 0 %}00{% else %}{{possible_time.1}}{% endif %}AM</option>
                        {% else %}
                            <option value="{{ possible_time }}">{{possible_time.0|add:"-12"}}:{% if possible_time.1 == 0 %}00{% else %}{{possible_time.1}}{% endif %}PM</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
            <label for="start_time">From:</label>
          </div>
          <div class="input-field col s3">
            <select name="end_time">
                <option value="" disabled selected>End Time</option>
                {% for possible_time in possible_times %}
                    {% if possible_time.0 > 0 and possible_time.0 < 12 %}
                        <option value="{{ possible_time }}">{{possible_time.0}}:{% if possible_time.1 == 0 %}00{% else %}{{possible_time.1}}{% endif %}AM</option>
                    {% else %}
                        {% if possible_time.0 == 0 %}
                            <option value="{{ possible_time }}">12:{% if possible_time.1 == 0 %}00{% else %}{{possible_time.1}}{% endif %}AM</option>
                        {% else %}
                            <option value="{{ possible_time }}">{{possible_time.0|add:"-12"}}:{% if possible_time.1 == 0 %}00{% else %}{{possible_time.1}}{% endif %}PM</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
            <label for="end_time">From:</label>
          </div>
      </div>
        <input type="submit" value="Add Availability" class="btn btn-success">
    </form>
    </div>

<script>
    $(document).ready(function(){
    $('select').formSelect();
  });
</script>

{% endblock %}