{% extends 'base.html' %}

{% block content %}

<a href="{% url 'set_date' child.id teammate.id %}">Back</a>

<h1 class="display-4 title center-text">Choose Time</h1>

    <form action="{% url 'set_time' child.id teammate.id weekday %}" method="post" class="form">
        {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
        {% csrf_token %}
            <input type="submit" value="Select Time" class="btn btn-success">
    </form>



<script>
    $(document).ready(function(){
      $('select').formSelect();
    });
    </script>



{% endblock %}