{% extends 'base.html' %}

{% block content %}

<a href="{% url 'add_meeting' child.id %}">Back</a>

<h1 class="display-4 title center-text">Choose Meeting Date</h1>

    {% if possible_weekdays|length == 0 %}
        <p>No days are available</p>
    {% else %}
    <form action="{% url 'set_date' child.id teammate.id %}" method="post" class="form">
        {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <input type="text" name="date" class="datepicker date">
                    <div class="calendar_DOM">

                    </div>
            </div>
    </form>
    {% endif %}

    {{possible_weekdays|json_script:"possible_weekdays"}}
    {{taken_times|json_script:"taken_times"}}
    {{taken_days|json_script:"taken_days"}}


<script>
    const possible_weekdays = JSON.parse(document.getElementById('possible_weekdays').textContent);
    const taken_times = JSON.parse(document.getElementById('taken_times').textContent);
    const taken_days = JSON.parse(document.getElementById('taken_days').textContent);
    console.log(taken_times)
    console.log(taken_days)

    let impossible_weekdays = [0, 1, 2, 3, 4, 5, 6];
    for (weekday of possible_weekdays) {
        if (impossible_weekdays.includes(weekday[0])) {
            impossible_weekdays = impossible_weekdays.filter(day => day != weekday[0]);
        }
    }
    console.log(impossible_weekdays);
    impossible_weekdays_js = []
    for (weekday of impossible_weekdays) {
        if (weekday == 6) {
            console.log(weekday)
            impossible_weekdays_js.push(0)
        }
        else impossible_weekdays_js.push(weekday + 1)
    }


    document.addEventListener('DOMContentLoaded', function() {
        let options =  {
                minDate: new Date(),
                disableDayFn: function(date) {
                        disabled = false;
                        if (impossible_weekdays_js.includes(date.getDay())) // getDay() returns a value from 0 to 6, 1 represents Monday
                                disabled =  true;
                        let date_arr = [date.getFullYear(), date.getMonth() + 1, date.getDate()]
                        if (JSON.stringify(taken_days).includes(JSON.stringify(date_arr))) {
                            disabled = true
                        }
                        return disabled;
                },
                container: document.querySelector('.calendar_DOM'),
                onSelect: function(date) {
                    console.log(date);
                    document.querySelector('.date').value = date;
                    document.querySelector('.form').submit();
                }
            }
        let inputs = document.querySelectorAll('.datepicker');
        let datepickers = M.Datepicker.init(inputs, options)
        datepickers[0].open();
  });

</script>



{% endblock %}