{% extends 'base.html' %}

{% block content %}

<a href="{% url 'meetings' child.id %}">Back</a>

<h1 class="display-4 title center-text">Choose Date</h1>

<form action="{% url 'set_time' child.id teammate.id %}" method="post" class="form">
    {% if error_messsage %}<p class="red-text">{{ error_message }}</p>{% endif %}
    {% csrf_token %}

    {% if possible_weekdays|length == 0 %}
        <p>No days are available</p>
    {% endif %}



<script>
    $(document).ready(function(){
      $('select').formSelect();
    });
    </script>



{% endblock %}