{% extends 'base.html' %}

{% block content %}

<div class="login-page">
    <h1>SIGNUP PAGE</h1>
    <div class="user-form login-form signup-form">
            {% if error_messsage %}<p class="red-text">{{ error_message }}</p>{% endif %}
            {% if error_messsage %}<p class="red-text">{{ error_message }}</p>{% endif %}
            <form method="POST" action="{% url 'parent_signup' %}">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="btn btn-primary" value="Sign Up">
            </form>
    
    </div>
</div>

{% endblock %}