{% extends 'base.html' %}

{% block content %}

<div class="login-page signup-background">
    <div class="user-form login-form signup-form">
            {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
            <h1>SIGNUP</h1>
            {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
            <form method="POST" action="{% url 'parent_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Sign Up">
            </form>
    
    </div>
</div>

{% endblock %}