{% extends 'base.html' %}

{% block content %}

<div class="login-page flex-cntr signup-background">
    <div class="user-form flex-cntr isparent-form">
            {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
            <form method="POST" action='{% url "register_user" %}' class="flex-cntr">
                {% csrf_token %}
                <label for="parent_check">Are you the child's parent?</label>
                <p class="isparent_checkbox">
                    <label>
                      <input type="checkbox" name="parent_check"/>
                      <span>Yes</span>
                    </label>
                </p>
                <input type="submit" class="btn btn-primary" value="Submit"></input>
                <input type="hidden" name="next" value="{{ next }}"></input>
            </form>
    </div>
</div>

{% endblock %}