body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}

main {
  flex: 1 0 auto;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.flex-cntr {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.login-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.login-title {
    width: 80vw;
    margin-top: 9vh;
    font-family: 'Archivo', sans-serif;
}

.login-title h1 {
  text-align: center;
}

.user-form {
    width: 60vw;
}

.login-form {
  margin-top: 8vh;
  padding: 2rem;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 8px 6px 1px #e4f2ff9c, 1px 2px 5px 1px #a8a8a8
}

.signup-background {
  background: linear-gradient(rgb(237, 255, 253), rgb(246, 232, 255));
}

.isparent-form {
  background: rgb(255, 249, 255);
  padding: 2rem;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 1px 10px 20px -9px rgba(0,0,0,0.75);
}

.isparent-form form {
  flex-direction: column;
}

.isparent-form label {
  font-size: 20px;
  color: black;
}

.isparent-form p {
  width: max-content;
}

.isparent_checkbox {
  width: max-content;
  margin: 35px 0;
}

.signup-form {
  margin: 4vh 0;
}

.login-form label {
  font-size: 18px;
  color: black;
}

.login-form input {
  margin: 10px 0 !important;
}

.login-background {
width: 100vw;
height: 100vh;
background-color: #013A6B;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.9),rgba(227, 251, 255, 0.6) 60%),
  url('https://get.pxhere.com/photo/computer-writing-person-girl-woman-reading-love-young-sitting-child-childhood-parent-conversation-caucasian-family-children-mother-learning-daughter-homework-interaction-mom-and-child-mother-daughter-human-positions-human-action-mom-and-daughter-1057541.jpg');
  background-size: cover;
background-position: center;
min-height: 500px;
position: absolute;
z-index: -5;
clip-path: polygon(100% 0, 100% 7%, 28% 100%, 0 100%, 0 0);
}

.nav {
height: 50px;
display: flex;
justify-content: flex-end;
align-items: center;
}

.nav > p {
color: black;
justify-self: start;
font-weight: 700;
margin: 0 auto 0 5px;
}

.nav-link {
color: black;
margin: 0 10px;
}

.children-index {
display: flex;
flex-wrap: wrap;
min-height: calc(100vh - 70px);
justify-content: flex-start;
align-items: flex-start;
margin: 30px 10%;
}

.children-index a {
margin: 20px 40px;
color: black;
text-align: center;
position: relative;
}

.child-picker {
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(rgb(255 222 227), rgb(211 243 250));
border-radius: 25%;
border: .5px solid rgba(128, 128, 128, 0.048);
height: 150px;
width: 160px;
font-size: 80px;
}

.picker-photo:hover {
background-color: black;
}

.child-picker:hover {
background: linear-gradient(rgb(235, 203, 207), rgb(191, 222, 228));
}

.child-picker p {
color: rgb(60, 161, 255);
}

.num-teammates {
position: absolute;
top: 10px;
right: 15px;
display: flex;
justify-content: center;
align-items: center;
font-size: 15px;
background-color: rgb(0,0,0,0.25);
border-radius: 10px;
padding: 2px 4px;
}

.num-teammates p {
margin: 0;
}

.num-teammates i {
font-size: 20px;
}

.new-picker {
background: rgb(210, 210, 210);
color: white;
}

.new-picker:hover {
background: rgb(190, 190, 190)
}

.new-picker p {
color: rgb(90, 90, 90);
}

.summary, .page-content {
display: flex;
min-height: calc(100vh - 65px);
background: linear-gradient(rgb(220, 255, 250), rgb(205, 236, 255));
font-family: 'Actor', sans-serif;
}

.summary-nav {
display: flex;
justify-content: flex-end;
margin-top: 15px;
}

.summary-nav > a {
color: black;
margin: 10px auto 10px 15px;
font-weight: 900;
font-size: 18px;
font-family: 'Archivo', sans-serif;
outline: none;
}

.summary-nav > a:hover, .summary-nav > a:focus {
color: grey;
outline: none;
}

.summary-nav button {
font-size: 18px;
padding: 15px;
position: relative;
background: none;
outline: none;
border: none;
color: black;
font-family: 'Actor', sans-serif;
cursor: pointer;
}

.summary-nav button:focus {
outline: none;
background: none;
}

.summary-nav button:hover {
cursor: pointer;
color: white;
}

.summary-nav button:before,
.summary-nav button:after {
 content:"";
 position:absolute;
 z-index:-1;
 top:0;
 left:0;
 right:0;
 bottom:0;
 clip-path: polygon(8% 0, 94% 0, 100% 100%, 0% 100%);
 transition: 0.3s all;
 background:linear-gradient(rgb(228, 245, 255), rgb(220, 255, 250));
 cursor: pointer;
}
.summary-nav button:before, .summary-nav button:hover:before, .summary-nav button:focus::before {
background:rgb(95, 150, 196);
transform:scale(1.05,1.06);
outline: none;
}

.summary-nav button:hover:before,
.summary-nav button:hover:after,
.summary-nav button:focus::before,
.summary-nav button:focus::after {
clip-path: polygon(6% 0, 96% 0, 100% 100%, 0% 100%);
background:linear-gradient(rgb(204, 234, 253), rgb(220, 255, 250));
background:rgb(67, 131, 184);
transform:scale(1.05,1.06);
outline: none;
}

.summary-pic {
height: 180px;
border-radius: 20px;
}

.summary-pic-container {
display: flex;
align-items: center;
justify-content: center;
margin: 20px 0;
}

.summary-child {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
min-width: 30vw;
}

.summary-child button {
padding: 5px;
background-color: white;
border: 2px solid rgb(67, 131, 184);
border-radius: 5px;
font-size: 15px;
cursor: pointer;
}

.summary-child button:hover {
  background-color: rgb(241, 241, 241);
  }

.summary-child button:focus {
background-color: grey;
}

.summary-cards {
min-width: 70vw;
min-height: 100px;
}

.summary-piece {
margin-top: 15px;
}

.child-card {
display: flex;
flex-direction: column;
}

.grade {
color: red;
font-size: 35px;
display: block;
line-height: 32px;
margin-bottom: 8px;
}

.edit {
margin-left: auto;
}

.report_card_subject {
font-size: 20px;
font-weight: 800;
margin-bottom: 8px !important;
}

.summary_days_left {
  text-transform: uppercase;
  color: grey;
}

.modal-overlay {
  display: none !important;
  position: relative !important;
  margin: 0 !important;
}

.datepicker {
  visibility: hidden !important;
  position: fixed !important;
} 

/* .datepicker-modal {
  position: absolute;
} */

.modal {
  position: relative !important;
  width: 70% !important;
  max-width: 350px;
}

.calendar_DOM {
  max-height: 380px;
  width: 500px;
  position: relative;
}

.datepicker-container, .datepicker-calendar-container {
  max-width: 350px;
}

.datepicker-date-display {
  display: none;
}

.confirmation-btns {
  display: none;
}

.select-month {
  min-width: 100px;
}

.datepicker-controls {
  width: 100% !important;
}

.select-month input {
  width: 100px !important;
}

.image-class {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border-radius: 25%;
  border: .5px solid rgba(128, 128, 128, 0.048);
  height: 250px;
  width: 200px;
  font-size: 80px;
  }
.child-info {
  flex-direction: column;
}

.child-info-name {
  margin: 2rem auto;
}

.child-info img {
  height: 300px;
  border: 5px solid rgba(9, 62, 95, 0.616);
}

.child-info-section {
  display: flex;
  flex-direction: column;
  min-width: 80vw;
  margin: 20px 1rem;
}

.child-info-notes {
  background: linear-gradient(rgba(12, 91, 119, 0.288), rgba(19, 85, 124, 0.349));
  padding: 10px 20px;
  border-radius: 5px;
  margin: 2rem 0;
}

.child-info-notes span {
  text-decoration: underline;
}

.child-info-parents {
  display: flex;
  background: linear-gradient(rgba(118, 198, 228, 0.288), rgba(152, 197, 221, 0.349));
  padding: 10px 20px;
  border-radius: 5px;
  margin: 2rem 0;
}

.child-info-parents-left {
  min-width: 60%;
}

.child-info-parents-right {
  min-width: 30%;
}

.child-info-parents-title {
  font-weight: 900;
  text-decoration: underline;
  font-size: 18px;
}

.child-info-parent-names {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.child-info-btn {
  padding: 15px 20px;
  text-transform: uppercase;
  background: linear-gradient(rgba(252, 252, 252, 0.918), rgb(255, 255, 255));
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  min-width: 200px;
  font-weight: 700;
  cursor: pointer;
}

.child-info-btn:hover {
  background: rgba(162, 229, 255, 0.918);
  border-radius: 5px;
  border: none;
  min-width: 200px;
  font-weight: 700;
}

.btn-container {
  margin: 1rem 0;
}

.no-photo {
  flex-direction: column;
}

.file-btn {
  margin: 10px;
  display: flex;
}

input[type="file"]::-webkit-file-upload-button{
  padding: 4px 8px;
  border: none;
  background: rgb(12, 102, 175);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.go-back {
  width: 100vw;
  padding: 10px 1rem;
}

.section-area {
  min-height: calc(100vh - 91px)
}

label {
  color: #383333 !important;
}

/* label color */
.input-field > label {
  color: #000 !important;
}

/* change photo button */
.btn-pic-container {
  position: absolute;
  opacity: 0;
}
.details-picture {
  position: relative;
}

.details-picture:hover .btn-pic-container{
  opacity: 1;
}

.single-question h4 {
  margin: 4rem;
}

.main-content {
  width: 90vw;
}

.center-text {
  text-align: center;
}

.urgent {
  background: linear-gradient(rgb(248, 205, 205), rgb(255, 132, 132));
  transition: 0.2s all;
}

.urgent:hover {
  background: linear-gradient(rgb(255, 229, 229), rgb(253, 167, 167));
}

.warning {
  background: linear-gradient(rgb(248, 245, 205), rgb(255, 237, 132));
  transition: 0.2s all;
}

.warning:hover {
  background: linear-gradient(rgb(255, 255, 238)), rgb(255, 243, 173));
}

.cool {
  background: linear-gradient(rgb(221, 248, 205), rgb(157, 255, 132));
  transition: 0.2s all;
}

.cool:hover {
  background: linear-gradient(rgb(234, 253, 223), rgb(193, 255, 177));
}

.card {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.card, .card-content {
  border-radius: 10px !important;
}

.goal-delete {
  max-width: 10px;
}